<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
    <pages>
    </pages>
    <authentication mode="None" />
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="KingdomConfeitariaDB" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=KingdomConfeitaria;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="SEU_EMAIL_GMAIL" />
    <add key="SmtpPassword" value="SUA_SENHA_APP" />
    <add key="EmailIsabela" value="isabela@example.com" />
    <add key="EmailCamila" value="camila@example.com" />
    <add key="EmailFrom" value="reservas@kingdomconfeitaria.com" />
    <add key="BaseUrl" value="http://localhost" />
    <add key="FacebookAppId" value="SEU_FACEBOOK_APP_ID" />
    <add key="FacebookAppSecret" value="SEU_FACEBOOK_APP_SECRET" />
    <add key="GoogleClientId" value="SEU_GOOGLE_CLIENT_ID" />
    <add key="GoogleClientSecret" value="SEU_GOOGLE_CLIENT_SECRET" />
    <add key="WhatsAppApiUrl" value="" />
    <add key="WhatsAppApiKey" value="" />
    <add key="WhatsAppPhoneNumber" value="" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

